---
layout: shared
assetpath: "../assets"
rootpath: "../"
---
	<article class="artiste">

		<div class="container">
			<div class="two-thirds column">
				<div class="show">
					{% if page.hatch %}
						<a href="http://hatchnottingham.co.uk"><img src="../assets/images/hatch.png" alt=""></a>
					{% endif %}
					{% if page.larkin %}
						<a href="http://larkin-about.co.uk"><img src="../assets/images/larkin.png" alt=""></a>
					{% endif %}
					<h1>{{ page.artist }}</h1>
					<h1><em>{{ page.title }}</em></h1>
					<h2 class="details"><strong>{{ page.time }}</strong> {{ page.place }}</h2>
				</div>
				<div class="bodycopy">
					{{ content }}
				</div>
			</div>
			<div class="one-third column">
			{% include schedule %}
			</div>
		</div>
	</article>