---
layout: shared
rootpath: ""
---
	<article class="home">
		<div class="container">
			<div class="sixteen columns bigtext">
				{{page.bigtext}}
			</div>
		</div>
		<div class="container">
			<div class="two-thirds column">
				<div class="bodycopy">
				{{ content }}
				</div>
			</div>
			<div class="one-third column">
			{% include schedule %}
			</div>
		</div>
	</article>
	<article class="twitter">
	<div class="container">
		<div class="sixteen columns">
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: '#hazardmcr',
  interval: 30000,
  title: 'Hazard2012',
  subject: '#hazardmcr',
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#000000',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#ffdd00'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    behavior: 'default'
  }
}).render().start();
</script>
			</div>
		</div>
	</article>