---
analytics: UA-29103047-1
mailer_signup_url: http://eepurl.com/i_Odb
---

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Word of Warning</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="{{page.rootpath}}assets/stylesheets/base.css">
	<link rel="stylesheet" href="{{page.rootpath}}assets/stylesheets/skeleton.css">
	<link rel="stylesheet" href="{{page.rootpath}}assets/stylesheets/layout.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript" src="http://use.typekit.com/yjo8lcl.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<header>
		<div class="container">
			<div class="two-thirds column">
				<h1><a href="{{ page.rootpath }}index.html">Hazard</a></h1>
				<h2><a href="{{ page.rootpath }}index.html">2012</a></h2>
			</div>
			<div class="one-third column">
				<h3>St. Ann's Square, Manchester</h3>
				<h2>21 July, 12-5pm</h2>
			</div>
		</div>
	</header>
	{{content}}
	<footer>
		<div class="container">
			<div class="two-thirds column">
				<h5>Hazard 2012</h5>
				<p>Presented by <a href="http://wordofwarning.org">Word of Warning</a>.<br>Produced by <a href="http://www.habarts.org">hÅb</a>, <a href="http://larkin-about.co.uk">Larkin' About</a>, <a href="http://hatchnottingham.co.uk">Hatch</a> and the artists.</p>
				<p>Private supporters: Lena Simic, Janet Drury, Gareth Cutter</p>
				<p>Supported by the National Lottery through Arts Council England and Manchester City Council. With thanks to the Royal Exchange Theatre. A greenroom legacy project.</p>
				<img src="{{ page.rootpath }}assets/images/logos.jpg" alt="">
			</div>
			<div class="one-third column">
				<h5>Weekly Word of Warning</h5>
				<p><a href="{{page.mailer_signup_url}}">Sign up</a> for your no-nonsense <a href="http://wordofwarning.posterous.com/">weekly e-mail</a> signpost to the bizarre, the beautiful and the best contemporary performance within range of Manchester.</p>
				<h5>Calendar</h5>
				<p>Word of Warning also maintains a <a href="https://www.google.com/calendar/embed?src=wordofwarningmcr%40gmail.com&amp;ctz=Europe/London">Google calendar</a> of events in the region.</p>
			</div>
		</div>
	</footer>
	
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ page.analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>